SparkExample2/output/
SparkExample2/.idea/
SparkExample2/target/


SparkWorkspace/RemoteSystemsTempFiles/
SparkWorkspace/SparkJavaExamples/output/
SparkWorkspace/.metadata
SparkWorkspace/.recommenders
SparkWorkspace/SparkJavaExamples/target/

SparkWorkspace/SparkJavaExamples/metastore_db/

*.class
*.log